<!DOCTYPE>
<html>
	<title>
		homepage of the user
	</title>
	<body>
		{% extends "base.html" %}
		{% block content %}
			<h4>Welcome {{username}}!</h4>
			 <!-- This method basically allows the user to search for tweets, friends,  -->
			 <form method = "POST">
			 	<input type="text" name="find-person" placeholder="Find People!" />
			 	<button type="submit" name="submit" value="search-people">Find People!</button>
			 </form>
			 <!-- Find all the tweets of a particluar person -->
			 <form method = "POST">
			 	<input type="text" name="find-tweet" placeholder="Search Tweets">
			 	<button type = "submit" name ="submit" value ="search-tweet">Search for a Person's Tweet!</button>
			 </form>

			 <!-- This is shows the tweet bar and tweet button -->
			 <form method = "POST">
			 	<input type="text" name="tweet" maxlength="20" />
			 	<button type="submit" name="submit" value="tweet">Tweet!</button>
			 </form>

			{{error}}
			<h4>Your Recent Tweets:</h4>
		    {% for time,tweet in messages %}
		    	<p>Time: {{time}} </p>
		    	<p> {{tweet}} </p>
		    	<br />
		    {% endfor %}
		    <!-- this basically displays the error message -->
		    

		{% endblock %}	 
	</body>
</html>



